WcfService1/SisEventos/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49962/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfService1" />
  <xs:element name="ContatoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ContatoListarResult" nillable="true" type="q1:ArrayOfDadosContato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoListar">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="EventoListarResult" nillable="true" type="q2:ArrayOfDadosEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAbrir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAbrirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ContatoAbrirResult" nillable="true" type="q3:DadosContato" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAtualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoAtualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoEventos">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ContatoEventosResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ContatoEventosResult" nillable="true" type="q4:ArrayOfDadosEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAbrir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAbrirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="EventoAbrirResult" nillable="true" type="q5:DadosEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAdicionar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="numero_responsavel" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="latitude" type="xs:long" />
        <xs:element minOccurs="0" name="longitude" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAdicionarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAtualizar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evento_id" type="xs:int" />
        <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="data" type="xs:dateTime" />
        <xs:element minOccurs="0" name="latitude" type="xs:long" />
        <xs:element minOccurs="0" name="longitude" type="xs:long" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoAtualizarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evento_id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoConvidarParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evento_id" type="xs:int" />
        <xs:element minOccurs="0" name="numero_participante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoConvidarParticipanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoRemoverParticipante">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="evento_id" type="xs:int" />
        <xs:element minOccurs="0" name="numero_participante" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EventoRemoverParticipanteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteAbrir">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteAbrirResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ConviteAbrirResult" nillable="true" type="q6:DadosEvento" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteListar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="numeroContato" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteListarResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/WcfService1" minOccurs="0" name="ConviteListarResult" nillable="true" type="q7:ArrayOfDadosConvite" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteAceitar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConvite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteAceitarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteRecusar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="idConvite" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConviteRecusarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>