WcfService1/SisEventos/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfService1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfService1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDadosContato">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosContato" nillable="true" type="tns:DadosContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosContato" nillable="true" type="tns:ArrayOfDadosContato" />
  <xs:complexType name="DadosContato">
    <xs:sequence>
      <xs:element minOccurs="0" name="eventos" nillable="true" type="tns:ArrayOfDadosEvento" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="uri" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosContato" nillable="true" type="tns:DadosContato" />
  <xs:complexType name="ArrayOfDadosEvento">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosEvento" nillable="true" type="tns:DadosEvento" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosEvento" nillable="true" type="tns:ArrayOfDadosEvento" />
  <xs:complexType name="DadosEvento">
    <xs:sequence>
      <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="latitude" type="xs:long" />
      <xs:element minOccurs="0" name="longitude" type="xs:long" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="participantes" nillable="true" type="tns:ArrayOfDadosContato" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosEvento" nillable="true" type="tns:DadosEvento" />
  <xs:complexType name="ArrayOfDadosConvite">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="DadosConvite" nillable="true" type="tns:DadosConvite" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDadosConvite" nillable="true" type="tns:ArrayOfDadosConvite" />
  <xs:complexType name="DadosConvite">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="idEvento" type="xs:int" />
      <xs:element minOccurs="0" name="nomeEvento" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numeroConvidado" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DadosConvite" nillable="true" type="tns:DadosConvite" />
</xs:schema>